html, body{
    font-family: 'Fira Code';
    font-weight: lighter;
    height: 100%;
    margin: 0;
}

body {
    background-size: cover;
    color: #fff;
}

a {
    color: rgb(93, 109, 255);
    font-weight: normal;
    text-decoration: none;
}

footer {
    background-color: #5e921b;
    height: 1.5em;
}

.app {
    display: none;
    flex-direction: column;
    min-height: 100%;
}

.tree-base {
    padding-left: 1em;
    border-left: solid thin;
}

.tree-files {
    margin-left: 1em;
    border-left: solid thin;
}

.tree-file::before, .tree-base::before {
    content: '';
    border-bottom: thin solid;
    position: absolute;
    height: 0.5em;
    width: 1em;
    transform: translateX(-1em) translateY(0.25em);
}

.tree-file {
    padding-left: 1em;
}

.window::before{
    display: flex;
    height: 3vh;
    width: 100%;
    background-color: #111;
    opacity: 0.8;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    background-color: #333;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.window-content {
    margin: 0 2% 0 2%;
}

#wrapper {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

#tree-wrapper {
    width: 30%;
    display: none;
    justify-content: center;
    align-items: center;
}

#tree-window {
    height: 50%;
    min-width: 70%;
}

#tree-window::before{
    content: 'tree .'
}

#tree-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    /* For Gecko */
    scrollbar-width: none;
}
/* For Chromium */
#tree-content::-webkit-scrollbar {
    display: none;
}

#tree {
    border-color: white;
}

#console-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#terminal-window::before{
    content: 'Launch: ~/'
}

#terminal-window{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#terminal-content {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#console-history {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    font-size: inherit;
    font-weight: inherit;
}

#console-input-line {
    display: flex;
}

#console {
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    min-height: 2vh;
    max-height: 2vh;
    flex: 1;
}