html, body{
    font-family: 'Fira Code';
    font-weight: lighter;
    margin: 0;
}

body {
    background-size: cover;
    color: #fff;
    background-color: #eee;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.app {
    display: none;
    flex-direction: column;
    min-height: 100vh;
}

.tree-base {
    padding-left: 1em;
    border-left: solid thin;
}

.tree-files {
    margin-left: 1em;
    border-left: solid thin;
}

.tree-file::before, .tree-base::before {
    content: '';
    border-bottom: thin solid;
    position: absolute;
    height: 0.5em;
    width: 1em;
    transform: translateX(-1em) translateY(0.25em);
}

.tree-file {
    padding-left: 1em;
}

.window::before{
    display: flex;
    min-height: 2em;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    background-color: #333;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.window-content {
    margin: 0 2% 0 2%;
}

.fzf-selected {
    background-color: #000;
    color: white;
    opacity: 0.5;
}

.fzf::before {
    content: ' ';
    white-space: pre;
}

.fzf:hover {
    background-color: #000;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

.fzf:hover::before {
    content: '>'
}

.fzf-selected::before {
    content: '>';
}

#wrapper {
    display: flex;
    flex: 1;
    justify-content: space-around;
    max-height: 100vh;
}

#tree-wrapper {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tree-window {
    height: 50%;
    min-width: 70%;
    max-width: 70%;
}

#tree-window::before{
    content: 'tree .'
}

#tree-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    /* For Gecko */
    scrollbar-width: none;
    -ms-overflow-style: none;
}
/* For Chromium */
#tree-content::-webkit-scrollbar {
    display: none;
}

#tree {
    border-color: white;
    position: relative;
    padding-bottom: 25%;
    word-break: break-all;
}

#console-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#terminal-window::before{
    content: 'Launch: ~/'
}

#terminal-window{
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

#terminal-content {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#console-history {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    font-size: inherit;
    font-weight: inherit;
}

#suggestion {
    z-index: -1;
    position: fixed;
    opacity: 0.5;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#fzf {
    display: none;
    overflow: hidden;
    flex-direction: column-reverse;
    flex: 1;
}

#console-input-line {
    display: flex;
}

.console-input{
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    /* min-height: 2vh; */
    /* max-height: 2vh; */
    flex: 1;
}

@media only screen and (max-width: 1080px) {
    html {
        font-size: 18pt;
    }

    #wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    #console-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 40%;
        width:100%;
    }

    #terminal-window {
        height: 100%;
        width: 100%;
    }

    #tree-wrapper {
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
    }

    #tree-window {
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
  }