<!DOCTYPE html>
<html>
<head>
	<meta lang="en">
	<meta charset="UTF-8"> 
	<title>Launch</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
	crossorigin="anonymous"></script>
	<script data-main="{{ url_for('static', filename='js/loader') }}"
	type="text/javascript" src="{{ url_for('static', filename='js/require.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='fonts/fira_code.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='img/default.png') }});">
	<section class="app">
		<div id='wrapper'>

			<div id='tree-wrapper'></div>

			<div id='console-wrapper'>
				<div class="window" id='terminal-window'>
					<div class='window-content' id='terminal-content'>
						<div id="console-history"></div>
						<div id="fzf"></div>
						<div id='console-input-line'>
							<div>$&nbsp;</div>
							<div class="full-width">
								<input class="console-input" 
								id='suggestion' placeholder="" disabled></input>
								
								<input autocorrect="off" autocapitalize="none"
								autocomplete="off" type="text" name="console" 
								class="console-input" id="console" 
								autocomplete="off"/>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
</body>
</html>
